extends layout
block content
   div#logo
    a(href="/")
     img(src="/images/logo.svg", alt="logo")
   h1#title
    p= "Presents: "
    span= title
   ul.error(style="display: none;")
    li="Naam veld is leeg."
   section#startForm
      label(for="inputCompanyName", id="frontpageLabel")="Wie bent u?: "
      input#inputCompanyName(type="text", placeholder="Naam", name="companyname", class="inputField")
      br
      select#inputWorkType(name="worktype", class="inputField")
        option(value="design", selected="selected")="Design"
        option(value="development")="Development"
        option(value="designdevelopment")="Design & Development"
      br
      button#btnSubmit(type="submit", class="button") Start de selectie!
   
   script.
    $( document ).ready(function() {
     var inputWorkType = $('select').val();
     var inputCompanyName = $("#inputCompanyName");
     
     $('select').change(function() {
            inputWorkType=$(this).val();
     });
      
     var client = new Faye.Client('/faye',{
      timeout: 20
     });
     
     $("#btnSubmit").on("click", function(e) {
      var checkInput = inputCompanyName.val();
      if(checkInput != "")
      {
          var publication = client.publish('/channel2', {header: inputCompanyName.val()});

          publication.then(function() {
            $.ajax({
                type: 'POST',
                url: "/setcompanyuser",
                data: {companyname: inputCompanyName.val(), worktype: inputWorkType},
                success: function (data) {
                    window.location = data.redirect
                },
                dataType: "json"
            });
           }, function(error) {
            alert('There was a problem: ' + error.message);
           });
      }
      else
      {
        $('.error').css('display', 'block');
      }
     });
    });

