extends layout

block content

  h1= title
  
  label(for="companyname")="Wie bent u?: "
  input#inputCompanyName(type="text", placeholder="Naam", name="companyname")
  br
  select#inputWorkType(name="worktype")
    option(value="design", selected="selected")="Design"
    option(value="development")="Development"
    option(value="designdevelopment")="Design & Development"
  br
  button#btnSubmit(type="submit") Start the selection!
   
   script.
    $( document ).ready(function() {
     var inputWorkType = $('select').val();
     var inputCompanyName = $("#inputCompanyName");
     
     $('select').change(function() {
            inputWorkType=$(this).val();
     });
      
     var client = new Faye.Client('/faye',{
      timeout: 20
     });
     
     $("#btnSubmit").on("click", function(e) {
      var publication = client.publish('/channel2', {header: inputCompanyName.val()});
      
      publication.then(function() {
        $.ajax({
            type: 'POST',
            url: "/setcompanyuser",
            data: {companyname: inputCompanyName.val(), worktype: inputWorkType},
            success: function (data) {
                window.location = data.redirect
            },
            dataType: "json"
        });
       }, function(error) {
        alert('There was a problem: ' + error.message);
       });
     });
    });

