extends layout

block content
    div#logo
     a(href="/")
      img(src="/images/logo.svg", alt="logo")
    - function isEmptyObject(obj) {
    -      var name;
    -      for (name in obj) {
    -        return false;
    -      }
    -      return true;
    -    }
    h1#title
     span= title
    - if (message)
      ul
       li.feedback= message
    - if (isEmptyObject(errors) == false)
        ul  
          - each error in errors
            li.error= error.msg
    form#formAddUser(name="adduser",method="post",action="/newuser")
      div#accountDetails.adduserDiv
        input#inputFirstName(type="text", placeholder="Voornaam", name="firstname", class="inputField")
        br
        
        input#inputLastName(type="text", placeholder="Achternaam", name="lastname", class="inputField")
        br

        input#inputUserEmail(type="text", placeholder="Email", name="useremail", class="inputField")

        br
        input#volgende(type="button", value="Volgende stap", name="volgende", class="inputField button")

      div#accountWork.adduserDiv(style="display: none;")
       div.workDiv
           div.work
            input.inputWorkPhoto(type="text", placeholder="Photo 1 url", name="workphoto1", class="inputField")
            br
            textarea.inputWorkText(type="text", placeholder="Work 1 text", name="worktext1", maxlength="255", class="inputField")

           div.work
            input.inputWorkPhoto(type="text", placeholder="Photo 2 url", name="workphoto2", class="inputField")
            br
            textarea.inputWorkText(type="text", placeholder="Work 2 text", name="worktext2", maxlength="255", class="inputField")

           div.work
            input.inputWorkPhoto(type="text", placeholder="Photo 3 url", name="workphoto3", class="inputField")
            br
            textarea.inputWorkText(type="text", placeholder="Work 3 text", name="worktext3", maxlength="255", class="inputField")
       br
       div.workDiv
           select#inputWorkType(name="worktype", class="inputField")
             option(value="design")="Design"
             option(value="development")="Development"
             option(value="designdevelopment")="Design & Development"
           br

           button#btnSubmit.button(type="submit") Submit
    
    script.
       $( document ).ready(function() {
           var accountDetails =  $('#accountDetails');
           var accountWork = $('#accountWork');
           
           $("#volgende").click(function() {
             accountDetails.addClass('animated slideOutLeft');
             accountDetails.fadeOut('fast');
             
             accountWork.css('display', 'block');
             accountWork.addClass('animated slideInRight');
           });
       });
     