extends layout

block content
  h1= title
  
  div#messages
  
  ul
   h2= 'Vorige selecties'
   each company, i in companylist
    li.listitems
     h2= company.companyname
     if company.votes
      -for (var t=0; t < company.votes.length; t++)
       p= company.votes[t].votedname
     else
      p='Geen match gevonden :('
       
  script.
   $( document ).ready(function() {
    var client = new Faye.Client('/faye',{
     timeout: 20
    });

    client.subscribe('/channel2', function(message){
     $('#messages').append('<h2 class="companyName">'+ message.header +'</h2>');
    });

    client.subscribe('/channel', function(message) {
     $('#messages').append('<p class="likedbyCompany">' + message.text + '</p>');
    });
   });
  