extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                a(href="/newuser/")= user.firstname + " " + user.lastname
                p= user.work
                img(src=user.workphotos[0].photo)
                img(src=user.workphotos[1].photo)
                img(src=user.workphotos[2].photo)